{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <section class="section contact-info">
            <h2>Contato</h2>
            <p><strong>Telefone:</strong> 62985009878 (Home)</p>
            <p><strong>Email:</strong> <a href="mailto:wellingtonj1@hotmail.com">wellingtonj1@hotmail.com</a></p>
            <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/wellingtonjunio-902312131" target="_blank">www.linkedin.com/in/wellingtonjunio-902312131</a></p>
            <p><strong>LinkBio:</strong> <a href="https://lnk.bio/wellingtonFernandes" target="_blank">https://lnk.bio/wellingtonFernandes</a></p>
        </section>
    </div>
{% endblock %}