{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <section class="section experience">
            <h2>Experiência</h2>

            <div class="experience-item">
                <h3>Super Ensino - Python Engineer</h3>
                <p><strong>Período:</strong> agosto de 2022 - Present (2 anos 2 meses)</p>
                <p><strong>Local:</strong> Brazil</p>
                <p><strong>Responsabilidades:</strong></p>
                <ul>
                    <li>Desenvolvimento backend utilizando o framework Django.</li>
                    <li>Refatoração de código e desenvolvimento de novos endpoints ou serviços.</li>
                    <li>Correção de pipelines CI/CD e integração com ferramentas como SonarCloud.</li>
                </ul>
            </div>

            <div class="experience-item">
                <h3>Senai Goiás - Professor</h3>
                <p><strong>Período:</strong> setembro de 2023 - Present (1 ano 1 mês)</p>
                <p><strong>Local:</strong> Aparecida de Goiânia, Goiás, Brazil</p>
                <p><strong>Responsabilidades:</strong></p>
                <ul>
                    <li>Ensinar fundamentos essenciais de algoritmos e programação orientada a objetos.</li>
                    <li>Currículo focado em Python e frameworks Django e Flask.</li>
                    <li>Preparar alunos para desenvolvimento de aplicativos e web-apps.</li>
                </ul>
            </div>

            <div class="experience-item">
                <h3>Simeon • EPA • Estratégia Para Ação - Software Engineer</h3>
                <p><strong>Período:</strong> abril de 2023 - agosto de 2024 (1 ano 5 meses)</p>
                <p><strong>Local:</strong> Goiânia, Goiás, Brazil</p>
                <p><strong>Responsabilidades:</strong></p>
                <ul>
                    <li>Desenvolvimento full stack usando Laravel, Vue.js e Next.js.</li>
                    <li>Refatoração de código legado e implementação de novas soluções arquitetônicas.</li>
                </ul>
            </div>

            <div class="experience-item">
                <h3>Binx BI - Software Developer</h3>
                <p><strong>Período:</strong> novembro de 2021 - abril de 2023 (1 ano 6 meses)</p>
                <p><strong>Local:</strong> Goiânia e Região</p>
                <p><strong>Responsabilidades:</strong></p>
                <ul>
                    <li>Implementação de pipelines ETL personalizados em PHP e Laravel.</li>
                    <li>Criação de pipelines para consumir, transformar e armazenar dados de APIs.</li>
                </ul>
            </div>

            <div class="experience-item">
                <h3>Clube Envios - Back End Developer</h3>
                <p><strong>Período:</strong> janeiro de 2022 - junho de 2022 (6 meses)</p>
                <p><strong>Local:</strong> Goiânia, Goiás, Brazil</p>
                <p><strong>Responsabilidades:</strong></p>
                <ul>
                    <li>Implementação de endpoints utilizando PHP Zend.</li>
                    <li>Integração com APIs dos Correios e da FedEx.</li>
                </ul>
            </div>

            <div class="experience-item">
                <h3>Sysout Soluções Inteligentes - Software Developer</h3>
                <p><strong>Período:</strong> março de 2020 - novembro de 2021 (1 ano 9 meses)</p>
                <p><strong>Local:</strong> Goiânia, Goiás, Brasil</p>
                <p><strong>Responsabilidades:</strong></p>
                <ul>
                    <li>Desenvolvimento full stack com Laravel, Flask e Ionic.</li>
                    <li>Criação de um endpoint em Flask para processamento de modelos digitais de elevação (MDE).</li>
                    <li>Trabalho com Python, PHP, Node.js, JavaScript, HTML, CSS, SCSS, jQuery e AJAX.</li>
                </ul>
            </div>

            <div class="experience-item">
                <h3>CREA GO Jovem - Suporte Técnico</h3>
                <p><strong>Período:</strong> abril de 2019 - março de 2020 (1 ano)</p>
                <p><strong>Local:</strong> Goiânia e Região, Brasil</p>
                <p><strong>Responsabilidades:</strong></p>
                <ul>
                    <li>Configuração de máquinas Linux e gerenciamento de conexões de internet.</li>
                    <li>Instalação de impressoras cabeadas e sem fio.</li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}