{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <section class="section summary">
            <h2>Resumo</h2>
            <p>Sou apaixonado por desenvolvimento de software e estou sempre em busca de novos desafios e tecnologias emergentes. Com mais de 7 anos de experiência, já atuei como desenvolvedor tanto no setor público quanto no privado.</p>
            <p>Sou um profissional versátil, sempre pronto para aprender e ensinar, com uma forte crença no poder transformador da educação. Explorar novos horizontes e áreas desconhecidas é algo que me motiva continuamente. Como Cientista da Computação, sou fascinado por resolver problemas complexos e encontrar soluções inovadoras, independentemente da linguagem de programação utilizada.</p>
        </section>
    </div>

    <script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}

