{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <section class="section competencies">
            <h2>Principais Competências</h2>
            <ul>
                <li>Server Side Programming</li>
                <li>Back-end Operations</li>
                <li>Back-End Web Development</li>
            </ul>
        </section>

        <section class="section certifications">
            <h2>Certificações</h2>
            <ul>
                <li>Laravel: e-mails, eventos assíncronos, uploads e testes</li>
                <li>Formação Django</li>
                <li>Autenticação no Django: formulários, requisições e mensagens</li>
                <li>API com Django 3: Django Rest Framework</li>
                <li>Arquitetura de computadores: por trás de como seu programa funciona</li>
            </ul>
        </section>

        <section class="section education mb-80">
            <h2>Formação Acadêmica</h2>
            <div class="education-item">
                <h3>Pontifícia Universidade Católica de Goiás</h3>
                <p><strong>Curso:</strong> Ciências da Computação, Programação de Computadores - Aplicativos Específicos</p>
            </div>
        </section>
    </div>
{% endblock %}
